.env
.DS_Store
*.rbc
*.sassc
*.scssc
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.sass-cache/
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
bin/
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
public/uploads/*
.rvmrc
public/assets
