OKF INKUBATOR
\
#{t("hello") + " " + @username},
\
Gratuliere! Deine Idee hat das 2/3 Quorum geschafft!
Nun geht es zum nächsten Schritt: Das Finanz-Konzept! Toi toi!
\
= idea_url(@idea)
\
Der freundliche OKF Inkubator Mailer

