.icon-vote {
  font-size: 45px;
}

.logo {
  float: left;
  height: 35px;
  margin-right: 10px;
  margin-top: 5px;

}
#brand {
  background: #fff;
  margin-left: 15px;
  margin-top: 15px;
}
.brand {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 200;
  color: #777;
  display: block;
}

.spacetop-10 {
  padding-top: 10px;
}

.spacetop-20 {
  padding-top: 20px;
}

.spacebottom-20 {
  padding-bottom: 20px;
}

.spacetop-50 {
  padding-top: 50px;
}

.title {
  background: orange;
  color: #ffffff;
  padding: 10px;
  margin-left: 15px;
  position: relative;
}

.sitename {
  margin-top: 5px;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.percentage {
  color: #ffffff;
  margin-left: 40px;
  font-size: 15px;
  font-weight: bold;
}

.edit-idea textarea, .new-idea textarea {
  height: 150px !important;
  font-size: 16px;
}

.edit-idea label, .new-idea label {
  font-size: 18px;
}

.edit-idea p, .new-idea p {
  margin-top: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
  font-size: 16px !important;
  font-weight: bold;
}
.explanation {
  font-size: 0.85em;
}
h4 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  text-indent: 0.01px;
  -o-text-overflow: '';
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  border-bottom: 1px dashed #ccc;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 1.5em;
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  cursor: pointer;
  display: inline-block;
  *background-image: none;
/* turn bg image for IE7 */
  background: url("../assets/images/selecticon.gif") no-repeat 100% 0px;
  background-position: right center;
  padding: 0 25px 0 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  font-family: 'AdelleSans-Bold', "Helvetica", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4c4c4c;
  border-bottom: 1px dashed #4c4c4c;
  width: auto;
}
